
header{
    /*margin: auto;*/
    background: #6200EE;
}

.headerWrapper{
    max-width: 600px;
    margin: auto;
    padding: 12px 30px;
    color: white;
    display: flex;
    justify-content: space-between;

}

header h1{
    font-size: 20px;
    font-weight: 200;
}

.logo{
    text-decoration: none;
    color: white;
}

/*.search{*/
/*    display: flex;*/
/*}*/

/*.search input{*/
/*    width: 13em;*/
/*    margin-right: 5px;*/
/*}*/